body {
    background-image: url('38e42007f25ff9112744cb6ca70c0d92.jpg');
	background-position: left top;
	background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}

div {
    text-align: center;
    line-height: 950px;
}